<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4">جستجو بخش</div>
    </div>
    <div class="cursor-default modal-body">
        <base-table-component #sectionTable [initTableData]="sectionTableModel"
                              [doSearch]="doSearch"></base-table-component>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-2" (click)="modal.close(undefined)">
            {{'SHARED.CANCEL' | translate}}
        </button>
    </div>
</div>
