<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">مدیریت باکس ها</h3>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-success mr-2" (click)="addNewBox()">افزودن باکس جدید</button>
        </div>
    </div>
    <div class="card-body">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="font">
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>
                {{node.name}}
                <div class="btn btn-icon btn-active-color-primary" [matMenuTriggerFor]="menu"
                     aria-label="Example icon-button with a menu">
                    <app-keenicon name="burger-menu-6" class="fs-2x"></app-keenicon>
                </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="addSubBox(node)">
                        <app-keenicon name="add-item" class="fs-1 btn btn-icon btn-active-color"></app-keenicon>
                        <span class="font">افزودن زیر مجموعه</span>
                    </button>
                    <button mat-menu-item (click)="editBox(node)">
                        <app-keenicon name="pencil" class="fs-1 btn btn-icon btn-active-color"></app-keenicon>
                        <span class="font">ویرایش</span>
                    </button>
                    <button mat-menu-item (click)="deleteBox(node)">
                        <app-keenicon name="trash" class="fs-1 btn btn-icon btn-active-color"></app-keenicon>
                        <span class="font">حذف</span>
                    </button>
                </mat-menu>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="font">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <app-keenicon name="left" class="fs-1hx" *ngIf="!treeControl.isExpanded(node)">

                    </app-keenicon>
                    <app-keenicon name="down" class="fs-1hx" *ngIf="treeControl.isExpanded(node)">

                    </app-keenicon>
                </button>
                {{node.name}}
                <div class="btn btn-icon btn-active-color-primary" [matMenuTriggerFor]="menu2"
                     aria-label="Example icon-button with a menu">
                    <app-keenicon name="burger-menu-6" class="fs-2x"></app-keenicon>
                </div>
                <mat-menu #menu2="matMenu">
                    <button mat-menu-item (click)="addSubBox(node)">
                        <app-keenicon name="add-item" class="fs-1 btn btn-icon btn-active-color"></app-keenicon>
                        <span class="font">افزودن زیر مجموعه</span>
                    </button>
                    <button mat-menu-item (click)="editBox(node)">
                        <app-keenicon name="pencil" class="fs-1 btn btn-icon btn-active-color"></app-keenicon>
                        <span class="font">ویرایش</span>
                    </button>
                    <button mat-menu-item (click)="deleteBox(node)">
                        <app-keenicon name="trash" class="fs-1 btn btn-icon btn-active-color"></app-keenicon>
                        <span class="font">حذف</span>
                    </button>
                </mat-menu>
            </mat-tree-node>
        </mat-tree>
    </div>
</div>
