<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-10 d-xs-block col-xs-10">
        <mat-form-field>
            <mat-toolbar>
                <input matInput placeholder="فایل مدیا را انتخاب کنید" class="font"
                       style="font-size: 1rem !important;"/>
            </mat-toolbar>
            <input type="file" id="fileInput" name="fileInput" accept="image/*" multiple
                   (change)="selectFiles($event)"/>
        </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 d-xs-block col-xs-2 p-0">
        <button mat-flat-button color="primary" [disabled]="!selectedFiles" (click)="uploadFiles()" class="font">
            بارگزاری
        </button>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-2 d-xs-block col-xs-2 p-0">
        <div>
            <img *ngFor='let preview of previews' [src]="preview" class="preview" alt="">
        </div>
    </div>
</div>

