<div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
     data-kt-menu-placement="bottom-end">
    <span class="menu-link py-3">
        <span class="menu-title">مدیریت کاربران</span>
        <span class="menu-arrow d-lg-none"></span>
    </span>
    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
         data-kt-menu-dismiss="true">
        <div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default:'click', lg: 'hover'}"
             data-kt-menu-placement="left-start">
            <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="royan/users"><span
                        class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                        class="menu-title">کاربران سیستم</span>
                </a>
            </div>
            <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="royan/roles"><span
                        class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                        class="menu-title">نقش های سیستم</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="menu-item me-lg-1">
    <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="royan/menu">
        <span class="menu-title">
            مدیریت منو
        </span>
    </a>
</div>
<div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
     data-kt-menu-placement="bottom-end">
    <span class="menu-link py-3">
        <span class="menu-title">مدیریت صفحه اصلی</span>
        <span class="menu-arrow d-lg-none"></span>
    </span>
    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
         data-kt-menu-dismiss="true">
        <div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default:'click', lg: 'hover'}"
             data-kt-menu-placement="left-start">
            <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="royan/boxManagement"><span
                        class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                        class="menu-title">مدیریت باکس ها</span>
                </a>
            </div>
            <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="royan/box"><span
                        class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                        class="menu-title">مدیریت بخش های صفحه</span>
                </a>
            </div>
            <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="royan/boxItems"><span
                        class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                        class="menu-title">مدیریت آیتم های بخش</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
     data-kt-menu-placement="bottom-end">
    <span class="menu-link py-3">
        <span class="menu-title">مدیریت محتوا</span>
        <span class="menu-arrow d-lg-none"></span>
    </span>
    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
         data-kt-menu-dismiss="true">
        <div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default:'click', lg: 'hover'}"
             data-kt-menu-placement="left-start">
            <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="royan/blogCategory"><span
                        class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                        class="menu-title">دسته بندی های بلاگ</span>
                </a>
            </div>
            <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="royan/blog"><span
                        class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                        class="menu-title">پست های بلاگ</span>
                </a>
            </div>
            <div class="menu-item me-lg-1">
                <a class="menu-link py-3" routerLinkActive="active" routerLink="royan/pageView"><span
                        class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                        class="menu-title">مدیریت صفحات</span>
                </a>
            </div>
        </div>
    </div>
</div>
