<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4">ویرایش بخش</div>
    </div>
    <div class="cursor-default modal-body">
        <form [formGroup]="editBoxForm">
            <div class="form-group row">
                <div class="col-lg-4 col-md-6 col-sm-6 d-xs-block col-xs-6 pb-6">
                    <label class="form-label">شناسه بخش</label>
                    <input type="text" class="form-control form-control-lg form-control-solid"
                           autocomplete="off"
                           [class.is-invalid]="formControlService.isControlInvalid(editBoxForm,'section')"
                           [class.is-valid]="formControlService.isControlValid(editBoxForm,'section')"
                           formControlName="section" placeholder="شناسه بخش"/>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6 d-xs-block col-xs-6 pb-6">
                    <label class="form-label">عنوان بخش</label>
                    <input type="text" class="form-control form-control-lg form-control-solid"
                           autocomplete="off"
                           [class.is-invalid]="formControlService.isControlInvalid(editBoxForm,'title')"
                           [class.is-valid]="formControlService.isControlValid(editBoxForm,'title')"
                           formControlName="title" placeholder="عنوان بخش"/>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-6 d-xs-block col-xs-6 pb-6">
                    <label class="form-label">توضیحات بخش</label>
                    <textarea class="form-control form-control-lg form-control-solid"
                              autocomplete="off"
                              rows="5"
                              [class.is-invalid]="formControlService.isControlInvalid(editBoxForm,'summary')"
                              [class.is-valid]="formControlService.isControlValid(editBoxForm,'summary')"
                              formControlName="summary" placeholder="توضیحات بخش">
                    </textarea>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 d-xs-block col-xs-6 pb-6">
                    <label class="form-label">نام عملیات</label>
                    <input type="text" class="form-control form-control-lg form-control-solid"
                           autocomplete="off"
                           [class.is-invalid]="formControlService.isControlInvalid(editBoxForm,'action')"
                           [class.is-valid]="formControlService.isControlValid(editBoxForm,'action')"
                           formControlName="action" placeholder="عملیات"/>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6 d-xs-block col-xs-6 pb-6">
                    <label class="form-label">آدرس عملیات</label>
                    <input type="text" class="form-control form-control-lg form-control-solid"
                           autocomplete="off"
                           [class.is-invalid]="formControlService.isControlInvalid(editBoxForm,'actionUrl')"
                           [class.is-valid]="formControlService.isControlValid(editBoxForm,'actionUrl')"
                           formControlName="actionUrl" placeholder="آدرس عملیات"/>
                </div>
                <div class="col-lg-12 col-md-7 col-sm-7 d-xs-block col-xs-7 pb-6">
                    <label class="form-label">توضیحات</label>
                    <textarea class="form-control form-control-lg form-control-solid"
                              autocomplete="off"
                              [class.is-invalid]="formControlService.isControlInvalid(editBoxForm,'description')"
                              [class.is-valid]="formControlService.isControlValid(editBoxForm,'description')"
                              formControlName="description" placeholder="توضیحات">
                    </textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-2" (click)="modal.dismiss()">
            {{'SHARED.CANCEL' | translate}}
        </button>
        <button type="submit" class="btn btn-primary" (click)="editBox()"
                [disabled]="editBoxForm.invalid">
            {{'SHARED.EDIT' | translate}}
        </button>
    </div>
</div>
